<div class="container-fluid">

    <button type="button" class="card card-small btn float-left movement" (click)="openModal(modalAddUser,'modal')">
        <mat-icon color="primary">add</mat-icon>
        <span class="p-2">Registrar</span>
    </button>

    <table class="table">
        <thead class="bg-dark text-white">
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let us of usuarios" class="hover-tr">
                <td>{{ us.nombres }}</td>
                <td>{{ us.apellidos }}</td>
                <td>{{ us.telefono }}</td>
                <td>{{ us.correo }}</td>
                <td>
                    <button type="button" class="btn movement">
                        <mat-icon color="primary" (click)="editUser(us.id,modalUpdateUser)" class="btn-group"
                            role="group">mode_edit
                        </mat-icon>
                    </button>
                    <button type="button" class="btn movement">
                        <mat-icon color="warn"
                            (click)="confirmDeleteUser(us.id,us.nombres,us.apellidos,modalDeleteUser)" class="btn-group"
                            role="group">
                            delete
                        </mat-icon>
                    </button>
                    <a [routerLink]="['/edit', { usuario: us.id }]" class="btn movement">
                        <mat-icon color="accent" class="btn-group" role="group">
                            search
                        </mat-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- MODALES -->

    <!-- modal para agregar un usuario-->
    <ng-template #modalAddUser let-modal>
        <form #formAdd name="formAdd" validate>
            <div class="modal-header">
                <h3 class="modal-title">Registrar usuario</h3>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <mat-form-field class="example-full-width col-sm-6 mb-3 mb-sm-0">
                        <mat-label> Nombres</mat-label>
                        <input matInput [(ngModel)]="userAdd.nombres" name="nombres" minlength="3" pattern="[a-zA-Z ]*" required #addnombres="ngModel">
                        <mat-hint align="end" class="text-danger" *ngIf="addnombres.hasError('pattern')">Nombre inválido
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-sm-6">
                        <mat-label>Apellidos</mat-label>
                        <input matInput [(ngModel)]="userAdd.apellidos" name="apellidos" minlength="3" pattern="[a-zA-Z ]*" required #addapellidos="ngModel">
                        <mat-hint align="end" class="text-danger" *ngIf="addapellidos.hasError('pattern')">Apellidos inválidos
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group row">
                    <mat-form-field class="example-full-width col-sm-12">
                        <mat-label>Correo electrónico </mat-label>
                        <input type="email" matInput [(ngModel)]="userAdd.correo" name="correo" placeholder="example@dominio.com" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required #addemail="ngModel">
                        <mat-hint align="end" class="text-danger" *ngIf="addemail.hasError('pattern')">Correo inválido
                        </mat-hint>
                        <mat-icon matSuffix class="text-secondary">email</mat-icon>
                    </mat-form-field>
                </div>
                <div class="form-group row">
                    <mat-form-field class="example-full-width col-sm-6 mb-3 mb-sm-0">
                        <mat-label>Clave </mat-label>
                        <input type="password" matInput #clave minlength="8" [(ngModel)]="userAdd.clave" name="clave" required #addclave="ngModel">
                        <mat-hint align="end">{{clave.value.length}} / 8</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-sm-6 mb-3 mb-sm-0">
                        <mat-label>Teléfono</mat-label>
                        <input type="tel" matInput #telefono maxlength="12" [(ngModel)]="userAdd.telefono" name="telefono" placeholder="555-55-00" pattern="[0-9]*">
                        <mat-icon matSuffix class="text-secondary">phone_enabled</mat-icon>
                        <mat-hint align="end">{{telefono.value.length}} / 12</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="col-sm-12 mb-3 mb-sm-0">
                        <mat-label>Rol</mat-label>
                        <select matNativeControl [(ngModel)]="userAdd.Idrol" name="Idrol" required #addrol="ngModel">
                            <option class="form-control" *ngFor="let rol of roles" value="{{rol.Idrol}}">
                                {{rol.cargo}}
                            </option>
                        </select>
                        <mat-hint align="end" class="text-danger" *ngIf="addrol.hasError('required')">Seleccione el rol
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="col-sm-12">
                        <mat-label>Area</mat-label>
                        <select matNativeControl [(ngModel)]="userAdd.IdArea" name="IdArea" required #addarea="ngModel">
                            <option class="form-control" *ngFor="let area of areas" value="{{area.IdArea}}">
                                {{area.area}}
                            </option>
                        </select>
                        <mat-hint align="end" class="text-danger" *ngIf="addarea.hasError('required')">Seleccione el area
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="modal-footer">
                <button class="card card-small btn bg-light" (click)="closeModal()">
                    <span class="p-2">Cancelar</span>
                </button>
                <button class="card card-small btn btn-primary bg-primary" (click)="addUser(userAdd)">
                    <span class="p-2">Registrar</span>
                </button>
            </div>
        </form>

    </ng-template>

    <!-- modal para actualizar un usuario-->
    <ng-template #modalUpdateUser let-modal>
        <div class="modal-header">
            <h3 class="modal-title">Actualizar usuario</h3>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <mat-form-field class="example-full-width col-sm-6 mb-3 mb-sm-0">
                    <mat-label>Nombres</mat-label>
                    <input matInput [(ngModel)]="userUpdate.nombres" name="nombres" minlength="3" required>
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-6">
                    <mat-label>Apellidos</mat-label>
                    <input matInput [(ngModel)]="userUpdate.apellidos" name="apellidos" minlength="3" required>
                </mat-form-field>
            </div>
            <div class="form-group row">
                <mat-form-field class="example-full-width col-sm-6">
                    <mat-label>Correo alternativo</mat-label>
                    <input type="email" matInput [(ngModel)]="userUpdate.correoalternativo" name="correo" required>
                    <mat-icon matSuffix class="text-secondary">email</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-6 mb-3 mb-sm-0">
                    <mat-label>Teléfono</mat-label>
                    <input type="tel" matInput #telefono maxlength="12" [(ngModel)]="userUpdate.telefono" name="telefono" placeholder="555-55-00">
                    <mat-icon matSuffix class="text-secondary">phone_enabled</mat-icon>
                    <mat-hint align="end">{{telefono.value.length}} / 12</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <div class="modal-footer">
            <button class="card card-small btn bg-light" (click)="closeModal()">
                <span class="p-2">Cancelar</span>
            </button>
            <button class="card card-small btn btn-primary bg-primary" (click)="updateUser(userUpdate)">
                <span class="p-2">Actualizar</span>
            </button>
        </div>

    </ng-template>

    <!-- modal para eliminar un usuario-->
    <ng-template #modalDeleteUser let-modal>
        <div class="modal-header">
            <h3 class="modal-title">Eliminar usuario</h3>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Confirma eliminar a: <b> {{ uselimina }} </b> no podra deshacer los cambios.
        </div>
        <div class="modal-footer">
            <button class="card card-small btn bg-light" (click)="closeModal()">
                <span class="p-2">Cancelar</span>
            </button>
            <button class="card card-small btn btn-danger bg-danger" (click)="deleteUser()">
                <span class="p-2">Eliminar</span>
            </button>
        </div>
    </ng-template>

</div>